[Unit]
Description=Unseal key from tpm2
DefaultDependencies=no
Before=cryptsetup-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tpm2_encrypt_hook unseal

[Install]
WantedBy=cryptsetup-pre.target
